body {
    padding-top: 50px;
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 900px;
}
canvas {
    margin-top: 20px;
}
.stat-box {
background-color: #f0f0f0;
padding: 20px;
border-radius: 5px;
text-align: center;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.stat-box p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
}

.low-level {
    color: red;
    font-weight: bold;
}

.data-table td, th{
    text-align: center;
    vertical-align: middle;
}